body{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 101%;
  background-color: rgb(248, 184, 227);
}

header{
  background-color: rgb(157, 157, 243);
  border-radius: 9px;
  text-align: center;
  padding: 50px;
}

nav{
  display: inline-block; 
  width: 80%;
  background-color: rgb(157, 157, 243);
  padding: 10px;
  border-radius: 8px;
  position: relative;
}

nav img{
  display: inline-block;
  width: 10%;
  border: 1px solid black;
  border-radius: 1px;
  position: absolute; right: 0px; top: 55px;
}

main{
  background-color: rgb(248, 184, 227);
  font-size: 115%;
  border-radius: 5px;
}

footer{
  background-color: rgb(189, 189, 219);
  border-radius: 7px;
  padding: 7px;
}

/*li{
  display: inline-block;
  width: 30%;
  text-align: center;
}*/

nav ul{
  list-style-type: none;
  margin: 0;
  padding: 20px;
}

nav li{
  display: inline-flex;
  width: 33%;
  text-align: center;
}

h1{
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: rgb(15, 13, 13);
  padding: 20px;
  text-decoration: underline;
}

p{
  line-height: 110%;
}

.grid{
  display: grid;
  row-gap: 15px;
  grid-template-columns: 40% 40%;
  align-items: center;
  justify-content: space-evenly;
}

.flex{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.grid img{
  margin-left: 1px;
  border: 5px solid rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  width: 100%;
  padding: 8px;
}

.flex img{
  border: 5px solid rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  padding: 8px;
}

.index{
  color: black;
}

.neighborhood{
  color: black;
}

.parks{
  color: black;
}

a:hover{
  background: gray;
  color: white;
}

a:focus{
  background: white;
  color: black;
}












